@use "src/assets/styles/colors";
@use "src/assets/styles/breakpoints";

.container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;

  @media screen and (min-width: breakpoints.$media_m) {
    display: none;
  }
}

.content {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nuevo {
  height: 50px;
  width: auto;
}
