@use "src/assets/styles/colors";
@use "src/assets/styles/breakpoints";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.position {
  display: grid;
  grid-template-columns: 40px auto;
}

.points {
  color: colors.$text_dark_gray;
  font-size: 12px;
  margin-top: 0;

  @media screen and (min-width: breakpoints.$media_s) {
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: breakpoints.$media_s) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.place {
  font-weight: 500;
  color: colors.$text_dark_gray;
}

.name {
  font-weight: 700;
  margin-bottom: 6px;

  @media screen and (min-width: breakpoints.$media_s) {
    margin: 0;
  }
}

.nameCurrent {
  @extend .name;

  color: colors.$green;
}
