@use "src/assets/styles/colors";
@use "src/assets/styles/breakpoints";

.container {
  width: 100%;
  min-height: 100vh;
}

.navigationContainer {
  @extend .container;
  display: grid;
  grid-template-rows: 80px 1fr;


  @media screen and (min-width: breakpoints.$media_m) {
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: 300px 1fr;
  }

  @media screen and (min-width: breakpoints.$media_xl) {
    grid-template-columns: 340px 1fr;
  }
}
