@use "src/assets/styles/colors";
@use "src/assets/styles/breakpoints";

.container {
  width: 100%;
  min-height: 100vh;
}

.navigationContainer {
  @extend .container;

  @media screen and (min-width: breakpoints.$media_l) {
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  @media screen and (min-width: breakpoints.$media_xl) {
    grid-template-columns: 400px 1fr;
  }
}
