@use "src/assets/styles/colors";

.form {
  display: flex;
  flex-direction: column;
  max-width: 870px;
}

.link {
  margin-left: 8px;
}

.alreadyRegistered {
  display: flex;
  margin-top: 24px;
  gap: 10px;
}

.input {
  fieldset {
    border-color: colors.$gray_light_primary !important;
  }
}
